.task{
  border: 1px solid #888888;
  border-radius: 4px;
  width: 90%;
  height: 35px;
  line-height: 35px;
  display: inline-block;
  text-align: left;
  background: transparent;
  padding: 0 10px;
}
.checked{
  background: #388E3C;
  color: #fff;
}
.removeBtn{
  float: right;
  padding-top: 5px;
  padding-right: 5px;
}
.removeBtn:hover{
  cursor: pointer;
  color: #D50000;
}
.task-desk{
  margin: 15px;
  text-align: center;
}
.task-checkbox {
  width: 19px;
  height: 19px;
  float: right;
  margin: 9px 5px 0;
}